/**
 * default style
 */

/***valid***/
#console-messages .console-user-command > .console-message-text {
    vertical-align: text-top !important;
    color: green!important;
}
/***valid***/
#console-messages .console-error-level .console-message-text{
    color: red !important
}
/***valid***/
#console-messages .console-warning-level .console-message-text{
    color: yellow !important
}
/***valid but enffet log message***/
#console-messages .console-info-level  .console-message-text {
    /*color: grey !important;*/
}
/***debug --> verbose valid***/
#console-messages .console-verbose-level .console-message-text {
    color: blue !important;
}
